<div class="container">
    <h3 id="logo">Shortly</h3>
    <!-- <img src="../../../assets/images/logo.svg" id="logo" alt="Logo"> -->
    <div class="section">
        <h6 class="title">Features </h6>
        <div class="links">
            <span class="link">Link Shortening</span>
            <span class="link">Branded Links</span>
            <span class="link">Analytics</span>
        </div>
    </div>
    <div class="section">
        <h6 class="title">Resources</h6>
        <div class="links">
            <span class="link">Blog</span>
            <span class="link">Developers</span>
            <span class="link">Support</span>
        </div>
    </div>
    <div class="section">
        <h6 class="title">Company </h6>
        <div class="links">
            <span class="link">About</span>
            <span class="link">Our Team</span> 
            <span class="link">Careers</span>
            <span class="link">Contact</span>
        </div>
    </div>
    <div class="social-media-icons">
        <img src="../../../assets/images/icon-facebook.svg" alt="Facebook">
        <img src="../../../assets/images/icon-twitter.svg" alt="Twitter">
        <img src="../../../assets/images/icon-pinterest.svg" alt="Pinterest">
        <img src="../../../assets/images/icon-instagram.svg" alt="Instagram">
    </div>
</div>
